<div class="login-container">
    <form class="login-form" (ngSubmit)="login()">
        <span class="card-text" style="text-align: center; margin-bottom: 1rem;">Pénzügyi tanácsadó</span>
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
        <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
        <div class="buttons">
            <button style="background-color: #52ae30;" type="submit">Belépés</button>
        </div>
        <div class="buttons">
            <button style="background-color: transparent; color: #52ae30; text-decoration: underline; font-size: 16px;" type="button" (click)="navigate('/signup')">Regisztráció</button>
        </div>
        <!-- <div class="buttons">
            <button type="button" routerLink="/signup">Sign Up</button>
        </div> -->
        <div *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </form>
</div>