<div class="content-wrapper bg-color">
    <div style="display: flex; justify-content: end;">
        <div class="buttons" style="padding-top: 10px; padding-right: 10px;">
            <button style="width: 200px;" type="reset" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="content">
        <div class="mt-5" style="display: flex; width: 100%; justify-content: center;">
            <div style="display: flex; justify-content: space-between; width: 70%;">
                <button style="width: auto;" type="submit" class="general-button" (click)="goBack()">Vissza a főoldalra</button>
            </div>
        </div>
        <div class="mt-5" style="display: flex; justify-content: center;">
            <div class="expenses-card">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div>
                        <span class="card-text">Megtakarítási célok</span>
                    </div>
                     <div>
                        <button class="button-without-decoration" (click)="openDialog()">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#52ae30">
                            <path d="M450-450H200v-60h250v-250h60v250h250v60H510v250h-60v-250Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div style="margin-top: 1rem;">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Név</th>
                                <th>Összeg</th>
                                <th>Határidő</th>
                                <th>Módosítás</th>
                                <th>Törlés</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of savingsGoalList">
                                <td>{{ item.name }}</td>
                                <td>{{ item.amount | currency:'HUF ':'symbol':'1.0-0' }}</td>
                                <td>{{ item.deadline | date: 'yyyy.MM.dd.' }}</td>
                                <td><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#1b82e3"><path d="M431.33-120v-230H498v82h342v66.67H498V-120h-66.67ZM120-201.33V-268h244.67v66.67H120Zm178-164v-81.34H120v-66.66h178V-596h66.67v230.67H298Zm133.33-81.34v-66.66H840v66.66H431.33Zm164-163.33v-230H662v81.33h178V-692H662v82h-66.67ZM120-692v-66.67h408.67V-692H120Z"/></svg></td>
                                <td><svg (click)="deleteSavingsGoal(item)" xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#EA3323"><path d="M267.33-120q-27.5 0-47.08-19.58-19.58-19.59-19.58-47.09V-740H160v-66.67h192V-840h256v33.33h192V-740h-40.67v553.33q0 27-19.83 46.84Q719.67-120 692.67-120H267.33Zm425.34-620H267.33v553.33h425.34V-740Zm-328 469.33h66.66v-386h-66.66v386Zm164 0h66.66v-386h-66.66v386ZM267.33-740v553.33V-740Z"/></svg></td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chat-client">
    <button class="chat-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Zm520-240v-280H160v280h440Zm-440 0v-280 280Z"/></svg>
        <div style="padding-left: 10px;">Chat</div>
    </button>
</div>